@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --main-theme-color: #607eaa;
  --accent-color: #fec260;
  --grey-text: var(--grey-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* GENERAL ************************************ */

.error {
  margin-top: 12px;
  font-size: 18px;
}

a {
  cursor: pointer;
}

/* HEADER ************************************ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-theme-color);
  color: #fff;
  padding: 24px;
}

/* SPV  *********************** */

.spv-container {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}

/* PROFILE  *********************** */

.profile-container {
  padding: 32px;
  min-height: 600px;
}

.profile-header {
  font-size: 24px;
  color: var(--grey-text);
  margin-bottom: 32px;
}

.profile-img-container {
  margin-bottom: 36px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 5px solid;
  border-color: var(--accent-color);
  border-radius: 50%;
}

.profile-content {
  margin-bottom: 18px;
}

.profile-content-title {
  font-size: 16px;
  font-weight: bolder;
  color: var(--grey-text);
  margin-bottom: 6px;
}

.profile-content-text {
  color: var(--grey-text);
}

/* NEWSFEED *********************** */

.newsfeed-container {
  padding: 32px;
  min-height: 600px;
}

/* CREATE POST *********************** */

.create-post-container {
  padding: 0 32px 0 32px;
}

.create-post-header {
  font-size: 24px;
  color: var(--grey-text);
  margin-bottom: 8px;
}

.create-post-label {
  display: block;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bolder;
  color: var(--grey-text);
}

.create-post-input {
  /* of container */
  width: 100%;
  color: #444;
  padding: 8px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 8px;
}

.create-post-btn {
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background: var(--main-theme-color);
  width: 100%;
  padding: 8px 8px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgba(154, 154, 154, 0.293);
}

.create-post-btn:hover {
  background: var(--accent-color);
}

/* POST *********************** */

.posts-main-container {
  padding: 32px;
  min-height: 600px;
}

.newsfeed-header {
  font-size: 24px;
  color: var(--grey-text);
  margin-bottom: 32px;
}

/* POST *********************** */

.post-container {
  padding: 20px;
  margin-bottom: 14px;
  border: 1.5px solid #444;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(68, 68, 68, 0.05);
}

.post-flex-container {
  display: flex;
  gap: 18px;
}

.post-img {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-color: var(--accent-color);
  /* border-radius: 5px;   */
}

.post-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.post-name,
.post-text {
  font-size: 16px;
  color: var(--grey-text);
}

.post-timestamp {
  font-size: 12px;
  text-align: right;
  color: var(--grey-text);
}

.editable {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
}

.post-edit-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.post-edit-btn {
  border: none;
  cursor: pointer;
  /* font-size: 18px; */
  color: #fff;
  background: var(--main-theme-color);
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 3px 5px rgba(154, 154, 154, 0.293);
}

.post-edit-btn:hover {
  background: var(--accent-color);
}

.post-update-btn {
  border: none;
  cursor: pointer;
  color: #fff;
  background: rgb(255, 66, 72);
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 3px 5px rgba(154, 154, 154, 0.293);
}

.post-update-btn:hover {
  background: var(--accent-color);
}

.post-red-btn {
  border: none;
  cursor: pointer;
  color: #fff;
  background: rgb(255, 66, 72);
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 1px 3px 5px rgba(154, 154, 154, 0.293);
  float: right;
}

.post-red-btn:hover {
  background: var(--accent-color);
}

.modal-container {
  font-size: 20px;
  background: rgb(41, 45, 62);
  border-radius: 15px;
  color: #fefefe;
  padding: 10px;
}

.modal-container>.modal-header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 26px;
  text-align: center;
  padding: 5px;
}

.modal-container>.modal-content {
  width: 100%;
  padding: 10px 5px;
  word-wrap: break-word;
}

.modal-container>.modal-actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal-container>.modal-close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #cfcece;
}

.modal-button-success {
  background-color: rgb(66, 226, 38);
  color: rgb(47, 47, 47);
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.523);
  box-shadow: inset 0.01rem 0.01rem 0.1rem white;
  cursor: pointer;
  margin: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-button-error {
  background-color: rgb(255, 66, 72);
  color: rgb(47, 47, 47);
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.523);
  box-shadow: inset 0.01rem 0.01rem 0.1rem white;
  cursor: pointer;
  margin: 15px;
  margin-top: 0;
  margin-bottom: 0;
}





/* DIRECTORY ************************************ */

.directory-link {
  color: var(--main-theme-color);
  display: block;
  font-size: 24px;
  margin-bottom: 24px;
}

.directory-header {
  margin-top: 28px;
  font-size: 28px;
  color: var(--grey-text);
  text-align: center;
}

.directory-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 52px;
}

.profile-summary-card {
  display: flex;
  height: 180px;
  gap: 28px;
  padding: 20px;
  margin-bottom: 14px;
  border: 1.5px solid #444;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(68, 68, 68, 0.05);
}

.profile-img {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-color: var(--accent-color);
}

.profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 16px;
}

.profile-name {
  font-size: 22px;
}

.profile-about {
  font-size: 14px;
  color: var(--grey-text);
}

.profile-cohort {
  text-align: right;
  font-size: 14px;
  color: #d1512d;
}

/* FORMS ************************************ */

.form-container {
  padding: 24px;
  margin: 20px auto;
}

.form-header {
  color: var(--grey-text);
  font-size: 32px;
  margin-bottom: 32px;
}

.main-form {
  width: 50%;
  margin: 20px auto;
}

.form-label {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: var(--grey-text);
  margin-bottom: 6px;
}

.form-item {
  margin-bottom: 24px;
}

.form-input {
  /* of container */
  width: 100%;
  color: #c4c4c4;
  padding: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 18px;
}

span {
  color: #ff0000;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background: var(--main-theme-color);
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgba(154, 154, 154, 0.293);
}

.btn:hover {
  background: var(--accent-color);
}

/* FORMS - CREATE PROFILE ************************************ */

.create-profile-form {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  column-gap: 48px;
  align-items: stretch;
}

.profile-btn {
  margin-top: 47px;
  padding: 13px 20px;
}

/* FOOTER ************************************ */

.footer {
  position: absolute;
  margin-top: -0px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.Log_out {
  display: block;
  margin-bottom: 24px;
  color: var(--main-theme-color);
  border-radius: 5px;
}

.footer-links-container {
  text-align: right;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--main-theme-color);
  color: var(--grey-text);
  padding: 10px;
  font: var(--grey-text);
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
}

.register-link:link,
.register-link:visited {
  text-decoration: none;
  font-size: 12px;
  color: var(--grey-text);
  transition: all 0.3s;
}

.copyright {
  font-size: 8px;
  color: #fff;
}

.img {
  width: 100%;
  width: 60px;
  height: 60px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.contact {
  text-align: center;
}