@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* HEADER ************************************ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #607eaa;
  color: #fff;
  padding: 24px;
}

/* LOGIN ************************************ */

.form-container {
  padding: 24px;
  margin: 20px auto;
}

form {
  width: 50%;
  margin: 20px auto;
}

.form-item {
  margin-bottom: 24px;
}

.form-label {
  display: block;
  padding: 10px 0;
  color: #263238;
}

.form-input {
  /* of container */
  width: 100%;
  color: #c4c4c4;
  padding: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

span {
  color: #ff0000;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background: #607eaa;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgba(154, 154, 154, 0.293);
}

.btn:hover {
  background: #1c3879;
}

/* FOOTER ************************************ */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  background-color: #607eaa;
  color: #444;
  padding: 24px;
  font: #444;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  transition: all 0.3s;
}

a:hover,
a:active {
  color: rgb(253, 191, 83);
}

.register-link:link,
.register-link:visited {
  text-decoration: none;
  font-size: 12px;
  color: #444;
  transition: all 0.3s;
}

.copyright {
  font-size: 8px;
  color: #fff;
}

/*
.btn {
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background: #607eaa;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 3px 5px rgba(154, 154, 154, 0.293);
}

.test-container {
  margin-top: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 24px;
}

.user-card {
  border: 2px solid #444;
  border-radius: 5px;
  padding: 32px;
}

.email {
  color: #444;
  margin-bottom: 12px;
}

.whole{
  text-align: center;
}
.links{
  flex: 1 1 150px;
  justify-content: center;
  display: flex;
  flex-direction: row;
 
}
.linkers{
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.pass{
  display: flex;
  flex-direction: column;
  
}
*/ ;
